.events-container{
    background-image: url("../../assets/eventsbg.png");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
}

.events{
    margin: 0;
    padding: 50px 0 50px 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-div-container{
    padding: 25px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:25px;
}

.event-div > h3{
    color:white;
}

.event-div{
    width: 280px;
    background-color: #7301CD;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px rgb(214, 203, 203);
    gap: 10px;
}

.button{
    background-color: #7301CD;
    border: none;
    
}

.event-img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.event-div > p {
    text-align: justify;
}

.register-button{
    width: fit-content;
    padding: 20PX 40PX;
    border-radius: 15px;
    background-color: #7301CD;
}