h1{
    text-align: center;
    color: white;
}

.containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px 0 20px 0;
}

.ccelogo{
    height: 80px;
}

.pmikerlogo{
    height: 130px;
}

.pmiccelogo{
    height: 100px;
}

.ieeelogo{
    height: 70px;
}


@media (max-width:1200px) {
    .pmiccelogo{
        display: none;
    }
}